.app {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin-bottom: 10px;
  }

  slider[orientation="horizontal"] {
    height: 10px;
    margin-bottom: 40px;

    _thumb {
      height: 40px;
      border-radius: 4px;
    }
  }
}
