.app {
  padding: 20px;
  max-width: 960px;
  width: 100%;
  align-self: center;
  align-items: stretch;

  h1 {
    font-size: 36px;
    font-style: smallcaps, bold;
    color: #582a9c;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 30px;
    font-style: smallcaps;
    color: #fb2f8e;
    margin-bottom: 8px;
  }

  section {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  row {
    flex-direction: row;
    align-items: center;
  }

  column {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
  }

  slider {
    margin: 10px;
  }

  image {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
